<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- permissions for INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SHOW-OFF"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShowOff"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".VerificarMarcao"
            android:exported="false" />
        <activity
            android:name=".ActivityClientes.DadosCliente"
            android:exported="false" />
        <activity
            android:name=".ActivitysCabeleleira.PagamentosCabeleleira"
            android:exported="false" />
        <activity
            android:name=".ActivitysCabeleleira.ConclusionCabeleleira"
            android:exported="false" />
        <activity
            android:name=".ActivitysCabeleleira.HorarioCabeleleira"
            android:exported="false" />
        <activity
            android:name=".ActivitysCabeleleira.Cabeleleiras_Nivel"
            android:exported="false" />
        <activity
            android:name=".ActivitysMarcacao.ConclusionBarbeiro"
            android:exported="false" />
        <activity
            android:name=".ActivitysMarcacao.BarbeiroNivel"
            android:exported="false" />
        <activity
            android:name=".ActivitysCabeleleira.Marcacacao1Cabeleleira"
            android:exported="false" />
        <activity
            android:name=".ActivitysMarcacao.Pagamento"
            android:exported="false" />
        <activity
            android:name=".ActivitysMarcacao.Horario"
            android:exported="false" />
        <activity
            android:name=".ActivitysMarcacao.Cortes"
            android:exported="false" />
        <activity
            android:name=".ActivitysMarcacao.MarcacaoCorte1"
            android:exported="false" />
        <activity
            android:name=".ActivitysCabeleleira.Catalogo_Cabeleleira"
            android:exported="false" />
        <activity
            android:name=".Catalogo_Barbeiro"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".ActivityClientes.CreateAccount"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>